<div class="w-full h-20 border-b-2 border-black shadow-lg">
    <div class="flex justify-between items-center h-full px-4">
        <div class="flex items-center">
            <!-- <img src="assets/images/logo.png" alt="logo" class="h-16 ml-4"> -->
            <h1 class="text-2xl font-bold ml-4 hover:scale-110 hover:font-bold transition-transform duration-200 cursor-pointer">SnapShop V2</h1>
        </div>
        <div>
            <ul class="flex items-center gap-12 text-black">
                <li class="no-underline hover:scale-150 hover:font-bold transition-transform duration-200 cursor-pointer">Home</li>
                <li class="no-underline hover:scale-150 hover:font-bold transition-transform duration-200 cursor-pointer">About</li>
                <li class="no-underline hover:scale-150 hover:font-bold transition-transform duration-200 cursor-pointer">Contact</li>
                <li class="no-underline hover:scale-150 hover:font-bold transition-transform duration-200 cursor-pointer">Shop</li>
                <li class="no-underline hover:scale-150 hover:font-bold transition-transform duration-200 cursor-pointer">Blog</li>
                <li class="no-underline hover:scale-150 hover:font-bold transition-transform duration-200 cursor-pointer">FAQ</li>
            </ul>
        </div>
        <div>
            <button class="bg-blue-500 text-white px-4 py-2 rounded-md mr-4 hover:scale-110 hover:text-bold transition-transform duration-200 cursor-pointer">Login</button>
            <button class="bg-blue-500 text-white px-4 py-2 rounded-md hover:scale-110 hover:text-bold transition-transform duration-200 *:cursor-pointer">Sign Up</button>
        </div>
    </div>
</div>
